@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hj62bi');
  src:  url('fonts/icomoon.eot?hj62bi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hj62bi') format('truetype'),
    url('fonts/icomoon.woff?hj62bi') format('woff'),
    url('fonts/icomoon.svg?hj62bi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-friend3:before {
  content: "\e904";
}
.icon-friend2:before {
  content: "\e905";
}
.icon-dove:before {
  content: "\e902";
}
.icon-rings:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-friend1:before {
  content: "\e903";
}
